@model IEnumerable<RMS.Models.Dish>

@{
    ViewData["Title"] = "Dishes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dishes</h2>

<p>
    <a asp-action="CreateDish">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayName("Restaurant Name")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDish", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteDish", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
